:root {
    --black: #2d2d2d;
    --black-escuro:#0D0905;
    --medium-white: #F8F8F8;
    --white: #ffffff;
    --green-light: #7BEB5E;
    --green: #46C326;
  }
  
  html {
    font-family: 'K2D', sans-serif;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a{
    text-decoration: none;
  }


